.toast-bar {
  min-width: 250px;
  margin-left: -125px;
  background-color: #70c35d;
  color: #ffffff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 17px;
  visibility: visible;
  -webkit-animation: fadein 0.3s;
  animation: fadein 0.3s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}